body {
    width:400px;
    background: rgb(100, 95, 95);
    margin:20px auto;
    box-shadow: 0 8px 3px -1px rgba(0,0,0,.7);

}
.Mycard, .envelope {
    
    height:21em;
    width:15em;
    box-shadow: 0 8px 3px -1px rgba(0,0,0,.7);
   box-sizing: border-box;
   padding-left:80px;
}
    .Mycard {
        background:red;
        margin:20px;
        display:inline-block;
        margin-left:40px;        
    }

.envelope {
    background: white;
    padding:10px;
}
.Mycard {
    transform: rotate(-5deg);
}
.envelope {
    transform: rotate(5deg);
}
h1 {
    text-align:center;
}
ul {
    color: rgb(138, 88, 138);
}