<!doctype <!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <div class="box">
    
        <h1 class="name"> Taras Ivanytskyi</h1>
        <h5>Group IF-092-Web-UI</h5>
        <p>My name is Taras. I'm 28 years old. Since monday i take part in Web-Ui courses from Softserve academy. My group consists of 8 people plus Techical expert and our best teacher Yuriy. Everyone seems like willing to help any moment, so group is much better than i've ever expected. From my side i'll try to do my best to be an active person and do everything on time.</p>
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-drive"></i></a></li>
        </ul>
    </div>
    
</body>
</html>