<body>
  <p-card class="red">
    
   <h1> Login Here</h1>
    <form>
        
        <h3>Username</h3>
      <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">Username</label>
           </span>
           
           
          <h3>Password</h3>
          <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText>
      <label for="float-input">Password</label>
          </span>
          <button pButton type="button" label="Submit" class="ui-button-rounded"></button>
          
             </form>
          <a href="#">Forget Password?</a>
  </p-card>

</body>
